
:root {
  --bg: #F6F8FC;
  --primary: #705CFF;
  --secondary: #705CFF60;
  --h2-color: #5B5D72;
  --cube-side: 2.75rem;
  --cube-side-half: calc(var(--cube-side) / 2);
}

body {
  background: var(--bg);
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  font-family: 'Poppins', sans-serif; 
  flex-direction: column;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-top: 7rem;
}

.loaders {
    display: grid;
    margin: 0 auto;
    grid-template-columns: 6.5rem 6.5rem 6.5rem;
    grid-template-rows: 8rem 8rem;
    gap: 2rem;
    align-items: center;
}

h1 {
  color: var(--h2-color);
  margin-top: 0;
  margin-bottom: 0.125rem;
}

.emph {
  color: #705CFF;
}

.loader-1 {
    width: 4rem;
    aspect-ratio: 1.154;
    --_g: no-repeat radial-gradient(
      farthest-side,var(--primary) 90%,#0000);
    background: 
      var(--_g) 50%  0,
      var(--_g) 0    100%,
      var(--_g) 100% 100%;
    background-size: 35% calc(35%*1.154);
    animation: l16 1s infinite;
}

@keyframes l16 { 
    50%, 100% {background-position: 100% 100%,50% 0,0 100%} 
}

.loader-2 {
  height: 2.5rem;
  width: 2.5rem;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 0.8rem solid;
  border-color: var(--primary) var(--secondary);
  animation: l1 1s infinite;
}

@keyframes l1 {to{transform: rotate(.5turn)}}

  .lds-ellipsis,
  .lds-ellipsis div {
    box-sizing: border-box;
  }
  .lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 5rem;
    height: 5rem;
  }
  .lds-ellipsis div {
    position: absolute;
    top: 33.33333px;
    width: 13.33333px;
    height: 13.33333px;
    border-radius: 50%;
    background: currentColor;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }
  .lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
  }
  @keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(1.5rem, 0);
    }
  }


.loader-3 {
    width: 4rem;
    height: 4rem;
    border: 0.8rem solid var(--secondary);
    border-radius: 50%;
    position: relative;
    transform:rotate(45deg);
    box-sizing: border-box;
}

.loader-3::before {
    content: "";
    position: absolute;
    box-sizing: border-box;
    inset: -0.75rem;
    border-radius: 50%;
    border: 0.8rem solid var(--primary);
    animation: prixClipFix 2s infinite linear;
}

@keyframes prixClipFix {
    0%   {clip-path:polygon(50% 50%,0 0,0 0,0 0,0 0,0 0)}
    25%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 0,100% 0,100% 0)}
    50%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,100% 100%,100% 100%)}
    75%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 100%)}
    100% {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 0)}
}

@keyframes square-animation {
    0% {
     left: 0;
     top: 0;
    }
   
    10.5% {
     left: 0;
     top: 0;
    }
   
    12.5% {
     left: 32px;
     top: 0;
    }
   
    23% {
     left: 32px;
     top: 0;
    }
   
    25% {
     left: 64px;
     top: 0;
    }
   
    35.5% {
     left: 64px;
     top: 0;
    }
   
    37.5% {
     left: 64px;
     top: 32px;
    }
   
    48% {
     left: 64px;
     top: 32px;
    }
   
    50% {
     left: 32px;
     top: 32px;
    }
   
    60.5% {
     left: 32px;
     top: 32px;
    }
   
    62.5% {
     left: 32px;
     top: 64px;
    }
   
    73% {
     left: 32px;
     top: 64px;
    }
   
    75% {
     left: 0;
     top: 64px;
    }
   
    85.5% {
     left: 0;
     top: 64px;
    }
   
    87.5% {
     left: 0;
     top: 32px;
    }
   
    98% {
     left: 0;
     top: 32px;
    }
   
    100% {
     left: 0;
     top: 0;
    }
   }


.loader-4 {
  width: 4em;
  height: 4rem;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  border: 0.75rem solid;
  box-sizing: border-box;
  animation: animloader 1s linear infinite alternate;
}

@keyframes animloader {
  0% {
    border-color: var(--primary) rgba(255, 255, 255, 0) rgba(255, 255, 255, 0) rgba(255, 255, 255, 0);
  }
  33% {
    border-color: var(--primary) var(--primary) rgba(255, 255, 255, 0) rgba(255, 255, 255, 0);
  }
  66% {
    border-color: var(--primary)  var(--primary)  var(--primary)  rgba(255, 255, 255, 0);
  }
  100% {
    border-color: var(--primary)  var(--primary)  var(--primary)  var(--primary) ;
  }
} 


.loader-5 {
  width: 4rem;
  height: 4rem;
  border: 0.75rem solid var(--primary);
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

.loader-5::after {
  content: '';  
  position: absolute;
  box-sizing: border-box;
  left: 20px;
  top: 31px;
  border: 0.75rem solid transparent;
  border-right-color: var(--primary);
  transform: rotate(-40deg);
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}


/* Cube */
.cube-wrapper {
  min-height: 4rem;
  position: relative;
}

 @keyframes rotate {
	 0% {
		 transform: rotateX(-37.5deg) rotateY(45deg);
	}
	 50% {
		 transform: rotateX(-37.5deg) rotateY(405deg);
	}
	 100% {
		 transform: rotateX(-37.5deg) rotateY(405deg);
	}
}

 .cube, .cube * {
	 position: absolute;
	 width: var(--cube-side);
	 height: var(--cube-side);
   top: 0.25rem;
   left: -0.4rem;
}
 .sides {
	 animation: rotate 3s ease infinite;
	 animation-delay: 0.8s;
	 transform-style: preserve-3d;
	 transform: rotateX(-37.5deg) rotateY(45deg);
}
 .cube .sides * {
	 box-sizing: border-box;
	 background: var(--primary);
	 border: 0.1rem solid white;
}
 .cube .sides .top {
	 animation: top-animation 3s ease infinite;
	 animation-delay: 0ms;
	 transform: rotateX(90deg) translateZ(var(--cube-side));
	 animation-fill-mode: forwards;
	 transform-origin: 50% 50%;
}

 @keyframes top-animation {
	 0% {
		 opacity: 1;
		 transform: rotateX(90deg) translateZ(var(--cube-side));
	}
	 20% {
		 opacity: 1;
		 transform: rotateX(90deg) translateZ(var(--cube-side-half));
	}
	 70% {
		 opacity: 1;
		 transform: rotateX(90deg) translateZ(var(--cube-side-half));
	}
	 90% {
		 opacity: 1;
		 transform: rotateX(90deg) translateZ(var(--cube-side));
	}
	 100% {
		 opacity: 1;
		 transform: rotateX(90deg) translateZ(var(--cube-side));
	}
}
 .cube .sides .bottom {
	 animation: bottom-animation 3s ease infinite;
	 animation-delay: 0ms;
	 transform: rotateX(-90deg) translateZ(var(--cube-side));
	 animation-fill-mode: forwards;
	 transform-origin: 50% 50%;
}
 @keyframes bottom-animation {
	 0% {
		 opacity: 1;
		 transform: rotateX(-90deg) translateZ(var(--cube-side));
	}
	 20% {
		 opacity: 1;
		 transform: rotateX(-90deg) translateZ(var(--cube-side-half));
	}
	 70% {
		 opacity: 1;
		 transform: rotateX(-90deg) translateZ(var(--cube-side-half));
	}
	 90% {
		 opacity: 1;
		 transform: rotateX(-90deg) translateZ(var(--cube-side));
	}
	 100% {
		 opacity: 1;
		 transform: rotateX(-90deg) translateZ(var(--cube-side));
	}
}
 .cube .sides .front {
	 animation: front-animation 3s ease infinite;
	 animation-delay: 100ms;
	 transform: rotateY(0deg) translateZ(var(--cube-side));
	 animation-fill-mode: forwards;
	 transform-origin: 50% 50%;
}
 @keyframes front-animation {
	 0% {
		 opacity: 1;
		 transform: rotateY(0deg) translateZ(var(--cube-side));
	}
	 20% {
		 opacity: 1;
		 transform: rotateY(0deg) translateZ(var(--cube-side-half));
	}
	 70% {
		 opacity: 1;
		 transform: rotateY(0deg) translateZ(var(--cube-side-half));
	}
	 90% {
		 opacity: 1;
		 transform: rotateY(0deg) translateZ(var(--cube-side));
	}
	 100% {
		 opacity: 1;
		 transform: rotateY(0deg) translateZ(var(--cube-side));
	}
}
 .cube .sides .back {
	 animation: back-animation 3s ease infinite;
	 animation-delay: 100ms;
	 transform: rotateY(-180deg) translateZ(var(--cube-side));
	 animation-fill-mode: forwards;
	 transform-origin: 50% 50%;
}

 @keyframes back-animation {
	 0% {
		 opacity: 1;
		 transform: rotateY(-180deg) translateZ(var(--cube-side));
	}
	 20% {
		 opacity: 1;
		 transform: rotateY(-180deg) translateZ(var(--cube-side-half));
	}
	 70% {
		 opacity: 1;
		 transform: rotateY(-180deg) translateZ(var(--cube-side-half));
	}
	 90% {
		 opacity: 1;
		 transform: rotateY(-180deg) translateZ(var(--cube-side));
	}
	 100% {
		 opacity: 1;
		 transform: rotateY(-180deg) translateZ(var(--cube-side));
	}
}

.cube .sides .left {
  animation: left-animation 3s ease infinite;
  animation-delay: 100ms;
  transform: rotateY(-90deg) translateZ(var(--cube-side));
  animation-fill-mode: forwards;
  transform-origin: 50% 50%;
}

@keyframes left-animation {
  0% {
      opacity: 1;
      transform: rotateY(-90deg) translateZ(var(--cube-side));
  }
  20% {
      opacity: 1;
      transform: rotateY(-90deg) translateZ(var(--cube-side-half));
  }
  70% {
      opacity: 1;
      transform: rotateY(-90deg) translateZ(var(--cube-side-half));
  }
  90% {
      opacity: 1;
      transform: rotateY(-90deg) translateZ(var(--cube-side));
  }
  100% {
      opacity: 1;
      transform: rotateY(-90deg) translateZ(var(--cube-side));
  }
}

.cube .sides .right {
  animation: right-animation 3s ease infinite;
  animation-delay: 100ms;
  transform: rotateY(90deg) translateZ(var(--cube-side));
  animation-fill-mode: forwards;
  transform-origin: 50% 50%;
}

@keyframes right-animation {
  0% {
      opacity: 1;
      transform: rotateY(90deg) translateZ(var(--cube-side));
  }
  20% {
      opacity: 1;
      transform: rotateY(90deg) translateZ(var(--cube-side-half));
  }
  70% {
      opacity: 1;
      transform: rotateY(90deg) translateZ(var(--cube-side-half));
  }
  90% {
      opacity: 1;
      transform: rotateY(90deg) translateZ(var(--cube-side));
  }
  100% {
      opacity: 1;
      transform: rotateY(90deg) translateZ(var(--cube-side));
  }
}

.code-comments {
  white-space: nowrap;
  color: var(--h2-color);
  font-weight: 500;
  font-size: 1.25rem;
}

.cta-text {
  color: var(--h2-color);
  font-weight: 500;
  font-size: 0.75rem;
}

.top-bar {
  display: flex;
  justify-content: space-between;
}

.profile {
  border-radius: 50%;
  width: 2.25rem;
  height: 2.25rem;
}

.profile-wrapper {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  font-size: 0.75rem;
}

.bottom-bar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 0.5rem;
  font-size: 0.75rem;
}

.modern-frontend-developer {
  max-width: 12rem; 
}

.learning-link {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: #705CFF;
}

.learning-link img {
  width: 2.25rem;
  height: 2.25rem;
}